@import "./variables";
@import "./mediaQuery";

/* Global*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    letter-spacing: 1px;
}

li {list-style-type: none;}

a {text-decoration: none;}

h1 {font-size: 64px; letter-spacing: 1px; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 1.2}
h2 {font-size: 56px; letter-spacing: 1px; font-weight: 400;font-family: 'Roboto', sans-serif;}
h3 {font-size: 48px; font-weight: 400; margin: 0; padding: 0; letter-spacing: 1px;font-family: 'Roboto', sans-serif;  line-height: 1.2}
h4 {font-size: 40px;letter-spacing: 1px; font-weight: 400;font-family: 'Roboto', sans-serif;  line-height: 1.2}
h5 {font-size: 32px;letter-spacing: 1px; font-weight: 400;font-family: 'Roboto', sans-serif;  line-height: 1.2}
h6 {font-size: 24px;letter-spacing: 1px; font-weight: 400;font-family: 'Roboto', sans-serif;  line-height: 1.2}
p {font-size: 18px;font-weight: 400; margin: 0; padding: 0;letter-spacing: 1px;font-family: 'Roboto', sans-serif;  line-height: 1.2;}
span {line-height: 1.2}
a {font-size: 15px;font-weight: 400; margin: 0; padding: 0;letter-spacing: 1px;font-family: 'Roboto', sans-serif;  line-height: 1.2; color: white;}


/* Body */
body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    letter-spacing: 1px;
    overflow-x: hidden;
}

.wrapper {
    overflow: hidden;
    position: relative;
}

/* Navbar */
.overlay {
    display: none;
}

.header__inside {
    margin: 25px 16.20% 0 16.61%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1280px;

    @include mq1620 {
        max-width: 990px;
    }
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-left: 50px;
    display: inline-block;
    padding-bottom: 5px;
    text-align: center;
}

.nav__item_1 {
    border-bottom: 4px solid #ff0076;
    width: 117px;
}

.nav__item_2 {
    border-bottom: 4px solid #ff9300;
    width: 123px;
}

.nav__item_3 {
    background-image: linear-gradient(90deg,#4003ca 50%,#33ffd9 50%);
    background-size: 100% 4px; 
    background-position: bottom; 
    background-repeat: no-repeat;
    width: 158px;
    padding-bottom: 9px;
}

.nav__item_4 {
    background-image: linear-gradient(to right,#FF8400 0,#FF0076 100%);
    background-size: 100% 4px; 
    background-position: bottom; 
    background-repeat: no-repeat;
    width: 123px;
    padding-bottom: 9px;
}

.nav__item_5 {
    background-image: linear-gradient(to right,#4003CA 0,#FF0076 100%);
    background-size: 100% 4px; 
    background-position: bottom; 
    background-repeat: no-repeat;
    width: 158px;
    padding-bottom: 9px;
}

@include mq1268 {
    .header__inside {
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        min-width: 329px;
        width: 55%;
        position: relative;
    }
    
    .nav__list {
        display: none;
    }
    
    .hamburger {
        display: inline-block;
        cursor: pointer;
    }
    
    .hamburger:after, .hamburger:before {
      content: none;
    }
    
    .hamburger__line1 {
        width: 68px;
        height: 10px;
        background-color: #FF0076;
    }
    
    .hamburger__line2 {
        width: 68px;
        height: 10px;
        background-color: #FF8400;
        margin-top: 8px;
    }
    
    .hamburger__line3 {
        width: 68px;
        height: 10px;
        background-image: linear-gradient(90deg,#4003ca 50%,#33ffd9 50%);
        margin-top: 8px;
    }
    
    .close-links {
        position: absolute;
        top: 2%;
        right: 3%;
        font-size: 50px;
        text-decoration: none;
        color: white;
        z-index: 100;
      }
    
    .overlay {
        display: block;
        position: fixed;
        height: 0;
        width: 100%;
        z-index: 2;
        top: 0;
        left: 0;
        overflow-y: scroll;
        background-color: rgba(0, 0, 0, 0.96);
        transition: .5s;
    }
    
    .overlay-links {
        position: relative;
        top: 20%;
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .overlay-links a {
        margin: 20px;
        font-size: 28px;
    }
    
    .nav__item_1, .nav__item_2, .nav__item_3, .nav__item_4, .nav__item_5 {
        width: 60%;
        text-align: center;
    }
}

/* Main */
main {
    position: relative;
}

/* Home */
.home {
    width: 1321px;
    margin: 48px 16.20% 0 15%;
    height: 437px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    position: relative;
    border: 2px solid $purple;

    .linear-color {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 40px;
        background: linear-gradient(124deg, rgba(255,132,0,0.8) 0, rgba(51,255,217, 0.4) 25%, rgba(51,255,217,0.2) 50%, rgba(51,255,217,0.4) 70%,rgba(255,255,255,1) 100%);
        filter: blur(12px);
        z-index: -1;
        opacity: 0.3;
    }

    @include mq1620 {
        width: 1021px;
    }

    @include mq1268 {
        margin-left: auto;
        margin-right: auto;
    }

    @include mq1171 {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    @include mq804 {
        flex-direction: column;
        min-width: 331px;
        width: 55%;
        min-height: 745px;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
.home__images, .home_wordsImg {
    width: 50%; 
    
    @include mq804 {
        width: 100%;
    }
}

.home__images {
    height: 100%;

    @include mq804 {
        height: 45%;
    }

    .home__images__inside {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(12px);
        border-radius: 0 50px 50px 0;

        @include mq804 {
            border-radius: 0 0 50px 50px;
        }
    }
    
    .rectPurpleBig {
        position: absolute;
        z-index: -1;
        top: -40px;
        right: 100px;

        @include mq1620 {
            right: 10px;
        }

        @include mq1171 {
            width: 55%;
        }

        @include mq804 {
            top:initial;
            bottom: -20px;
            right: -40px;
            width: 100%;
        }
    }
}

.home_wordsImg {
    height: 100%;

    @include mq804 {
        height: 55%;
    }

    .circlePurpleBig {
        position: absolute;
        z-index: -1;
        bottom: -50px;
        left: 320px;

        @include mq1620 {
            left: 200px;
        }

        @include mq1171 {
            width: 35%;
            left: 100px;
        }

        @include mq804 {
            bottom: initial;
            left: initial;
            transform: rotate(180deg);
            top: -30px;
            right: -50px;
            width: 45%;
        }
    }

    .circlePinkBig {
        position: absolute;
        z-index: -2;
        bottom: -70px;
        left: 40px;

        @include mq1620 {
            left: -60px;
        }

        @include mq1171 {
            width: 50%;
            bottom: -20px;
        }

        @include mq804 {
            bottom: initial;
            left: initial;
            top: 40px;
            right: -10px;
            width: 60%;
        }
    }
}

.home__words {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* Grid Purple */
    background-image: url("https://i.imgur.com/pNrVHst.png"), linear-gradient(to top,  rgba(0, 0, 0, 0) 30%, #33FFD9 110%);
    border-radius: 50px 0 0 50px;
    backdrop-filter: blur(12px);

    @include mq804 {
        height: 100%;
        background-image: url("https://i.imgur.com/pNrVHst.png");
        border-radius: 50px 50px 0 0;
    }
}

.home__words>hgroup {
    margin-left: 70px;
    margin-right: 70px;
    height: 100%;
    display: flex;
    align-items: center;

    @include mq804 {
        height: 100%;
        margin: 40px 10px 0 10px;
    }
}

.home__words h3 {
    font-weight: 700;

    @include mq1171 {
        font-size: 30px;
    }

    @include mq804 {
        height: 100%;
        font-size: 45px;
    }
}

/* Levels */
.levels {
    width: 1321px;
    margin: 65px 16.20% 0 15%;

    @include mq1620 {
        width: 1021px;
    }

    @include mq1268 {
        margin-left: auto;
        margin-right: auto;
    }

    @include mq1171 {
        width: 700px;
    }

    @include mq804 {
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        min-width: 329px;
        width: 55%;
        position: relative;
    }
    

    >h1 {
        font-size: 72px;
        font-weight: 900;
        background: linear-gradient(to top, rgba($color:$teal, $alpha:0.19), rgba($color:$teal, $alpha:1));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include mq804{
            font-size: 32px;
        }
    }

    .level {
        display: flex;
        
        @include mq1620 {
            flex-direction: column;
        }

        .level_text {
            min-width: 492px;
            max-width: 492px;

            @include mq804 {
                min-width: 100%;
            }

            h1 {
                font-size: 72px;
                font-weight: 900;

                @include mq804 {
                    font-size: 48px;
                }
            }

            hgroup{
                margin-top: 34px;

                h3{
                    color: $pink;
                    font-weight: 500;

                    @include mq804 {
                        font-size: 36px;
                    }
                }

                p{
                    font-weight: 400;
                    font-size: 18px;
                    margin-top: 12px;
                }
            }
        }

        .level-images {
            width: 880px;
            padding-left: 120px;
            position: relative;

            @include mq1620 {
                margin: 50px auto 0 auto;
            }

            @include mq1171 {
                padding-left: 0;
                width: 100%;
            }

            .level-box1 {
                width: 702px;
                height: 228px;
                background-color: rgba($color: #fff, $alpha: 0.3);
                border-radius: 40px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                backdrop-filter: blur(12px);

                @include mq1171 {
                    margin-left: 0;
                }

                @include mq804 {
                    width: 100%;
                    height: 160px;

                    img {
                        width: 28%;
                    }
                }
            }

            .level-box2 {
                width: 492px;
                height: 228px;
                background-color: rgba($color: #fff, $alpha: 0.3);
                border-radius: 40px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                backdrop-filter: blur(12px);

                @include mq1620 {
                    margin: 50px auto 0 auto;
                }

                @include mq1171 {
                    margin-left: 0;
                }

                @include mq804 {
                    display: none;
                }
            }

            .level-box3 {
                position: relative;
                top: 70px;
                width: 492px;
                height: 228px;
                background-color: rgba($color: #fff, $alpha: 0.3);
                border-radius: 40px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                backdrop-filter: blur(12px);

                @include mq1620 {
                    margin: 50px auto 0 auto;
                    top: 0;
                }

                @include mq1171 {
                    margin-left: 0;
                }

                @include mq804 {
                    display: none;
                }
            }            
        }
        
    }

    .level-1 {
        margin-top: 44px;

        .circlePurpleSmall {
            position: absolute;
            z-index: -1;
            top: -40px;
            left: 40px;

            @include mq1171 {
                left: -30px;
            }

            @include mq804 {
                width: 30%;
            }
        }

        .circleTealSmall {
            position: absolute;
            z-index: -2;
            top: -30px;
            right: -50px;

            @include mq804 {
                width: 65%;
            }
        }

        .circleOrangeSmall {
            position: absolute;
            z-index: -1;
            bottom: -70px;
            right: -50px;

            @include mq804 {
                width: 30%;
                bottom: -40px;
            }
        }
    }

    .level-2 {
        margin-top: 53px;

        .circlePinkSmall {
            position: absolute;
            z-index: -1;
            bottom: -70px;
            left: 230px;

            @include mq1620 {
                left: 430px;
            }

            @include mq804 {
                display: none;
            }
        }

        .circleTealBig {
            position: absolute;
            z-index: -2;
            top: -40px;
            left: 0;

            @include mq1620 {
                left: 200px;
            }

            @include mq804 {
                display: none;
            }
        }
    }

    .level-3 {
        margin-top: 73px;

        @include mq804 {
            margin-top: 23px;
        }

        .rectOrangeSmall {
            position: absolute;
            z-index: -1;
            top: 45px;
            left: 350px;

            @include mq1620 {
                top: 20px;
                left: 400px;
            }

            @include mq1171 {
                left: 200px
            }

            @include mq804 {
                display: none;
            }
        }

        .reactPinkBig {
            position: absolute;
            z-index: -2;
            top: 0;
            right: 80px;

            @include mq1620 {
                top: -20px;
            }

            @include mq804 {
                display: none;
            }
        }
    }
}

/* Benefits */
.benefits {
    width: 1321px;
    margin: 65px 16.20% 0 15%;
    position: relative;
    top: 50px;

    @include mq1620 {
        width: 1021px;
    }

    @include mq1268 {
        margin-left: auto;
        margin-right: auto;
    }

    @include mq1171 {
        width: 700px;
    }

    @include mq804 {
        margin: 0 auto;
        justify-content: space-between;
        min-width: 329px;
        width: 55%;
        position: relative;
    }
    

    .benefits-background {
        min-height: 521px;
        background: linear-gradient(to top, rgba(0,0,0,0), rgba(255,255,255,0.4));
        border-radius: 40px;
        display: flex;
        align-items: flex-start;      
        backdrop-filter: blur(12px);

        @include mq804 {
            background-color: rgba($color: #fff, $alpha: 0.3);
        }

        hgroup {
            width: 996px;
            padding-top: 32px;
            padding-left: 68px;

            @include mq1171 {
                padding-right: 68px;
            }

            @include mq804 {
                padding-left: 25px;
                padding-right: 25px;
            }
    
            h3 {
                color: $teal;
                font-weight: 500;
            }
    
            h6 {
                font-weight: 500;
                margin-top: 24px;

                @include mq1620 {
                    font-size: 20px;
                }

                @include mq804 {
                    font-size: 16px;
                }
            }
        }

        img {
            position: relative;
            top: 5rem;
            left: 5rem;
            z-index: -100;

            @include mq1620 {
                left: initial;
                top: 6rem;
                right: 3rem;
            }

            @include mq1171 {
                display: none;
            }
        }
    }

    .priceWithImg {
        position: relative;
        .price {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            position: relative;
            bottom: 140px;

            @include mq804 {
                flex-direction: column;
                position: static;
            }
    
            &_base {
                width: 581px;
                height: 481px;
                border-radius: 40px;
                background: linear-gradient(to top, rgba(0,0,0,0), rgba($color:$pink, $alpha:1));
                position: relative;
                backdrop-filter: blur(12px);

                @include mq1620 {
                    width: 500px;
                }

                @include mq1171 {
                    width: 300px;
                }

                @include mq804 {
                    margin-top: 48px;
                    height: 384px;
                    width: 100%;
                }
    
                >hgroup {
                    margin-top: 32px;
                    margin-left: 64px;

                    @include mq1171 {
                        margin-left: 30px;
                        margin-right: 30px;
                    }

                    h3 {
                        color: $teal;
                        font-weight: 500;
                    }
    
                    p {
                        margin-top: 12px;
                        font-weight: 400;
                    }
    
                    h1 {
                        font-size: 80px;
                        font-weight: 500;
                        margin-top: 22px;

                        @include mq1171 {
                            font-size: 54px;
                        }

                        @include mq804 {
                            font-size: 48px;
                        }
                    }
    
                    hgroup {
                        margin-top: 16px;
    
                        h6 {
                            margin-top: 12px;
                            font-weight: 500;

                            @include mq1171 {
                                font-size: 18px;
                            }

                            @include mq804 {
                                font-size: 16px;
                            }
                        }
                    }
                }
    
                button {
                    width: 460px;
                    height: 65px;
                    font-family: $start;
                    font-size: 18px;
                    background-color: $teal;
                    color: $pink;
                    position: absolute;
                    bottom: -30px;
                    left: 50%;
                    transform: translate(-50%);
                    outline: none;
                    border: none;
                    cursor: pointer;

                    @include mq1171 {
                        width: 280px;
                        font-size: 16px;
                    }

                    @include mq804 {
                        width: 80%;
                        font-size: 11px;
                        position: static;
                        margin-top: 24px;                       
                        margin-left: 50%;
                        height: 39px;
                    }
                }

                @include mq804 {
                    img {
                        width: 4%;
                    }
                }
    
            }
    
            &_premium {
                width: 581px;
                height: 481px;
                border-radius: 40px;
                background: linear-gradient(to top, hsla(0,0,100,0), hsla(169,100,60,1));
                position: relative;
                backdrop-filter: blur(12px);

                @include mq1620 {
                    width: 500px;
                }

                @include mq1171 {
                    width: 300px;
                }

                @include mq804 {
                    margin-top: 48px;
                    height: 420px;
                    width: 100%;
                }
    
                >hgroup {
                    margin-top: 32px;
                    margin-left: 64px;

                    @include mq1171 {
                        margin-left: 30px;
                        margin-right: 30px;
                    }

                    h3 {
                        color: $pink;
                        font-weight: 500;
                    }
    
                    p {
                        margin-top: 12px;
                        font-weight: 400;
                    }
    
                    h1 {
                        font-size: 80px;
                        font-weight: 500;
                        margin-top: 22px;

                        @include mq1171 {
                            font-size: 50px;
                        }

                        @include mq804 {
                            font-size: 48px;
                        }
                    }
    
                    hgroup {
                        margin-top: 16px;
    
                        h6 {
                            margin-top: 12px;
                            font-weight: 500;

                            @include mq1171 {
                                font-size: 18px;
                            }

                            @include mq804 {
                                font-size: 16px;
                            }
                        }
                    }
    
                }
    
                button {
                    width: 460px;
                    height: 65px;
                    font-family: $start;
                    font-size: 18px;
                    background-color: $pink;
                    color: #fff;
                    position: absolute;
                    bottom: -30px;
                    left: 50%;
                    transform: translate(-50%);
                    outline: none;
                    border: none;
                    cursor: pointer;

                    @include mq1171 {
                        width: 280px;
                        font-size: 16px;
                    }

                    @include mq804 {
                        width: 80%;
                        font-size: 11px;
                        position: static;
                        margin-top: 24px;                       
                        margin-left: 50%;
                        height: 39px;
                    }
                }

                @include mq804 {
                    img {
                        width: 4%;
                    }
                }
            }
        }
        .circle-base {
            position: absolute;
            top: 140px;
            left: 220px;
            z-index: -1;

            @include mq1620 {
                width: 30%;
            }

            @include mq1171 {
                left: 190px;
            }

            @include mq804 {
                top: 280px;
                left: -90px;
                width: 80%;
            }
        }
    
        .circle-premium {
            position: absolute;
            top: 140px;
            right: -30px;
            z-index: -1;

            @include mq1620 {
                width: 30%;
            }

            @include mq804 {
                top: 740px;
                left: -90px;
                width: 80%;
            }
        }
    }
    
    .circle-benefits {
        position: absolute;
        top: -100px;
        right: -170px;
        z-index: -20;

        @include mq1171 {
            width: 50%;
            right: -140px;
            top: -140px;
        }

        @include mq804 {
            width: 100%;
            right: -120px;
            top: -30px;
        }
    }


    
}

/* Lines Teal*/
.lineTeal1 {
    position: absolute;
    bottom: 673px;
    border-top: 3px solid $teal;
    width: 18%;
    z-index: -1;

    @include mq1171 {
        bottom: 620px;
        width: 40%;
    }

    @include mq804 {
        display: none;
    }
}

.lineTeal2 {
    position: absolute;
    bottom: 620px;
    border-top: 3px solid $teal;
    width: 18%;
    z-index: -1;
    opacity: 0.8;

    @include mq1171 {
        bottom: 550px;
        width: 40%;
    }

    @include mq804 {
        display: none;
    }
}

.lineTeal3 {
    position: absolute;
    bottom: 568px;
    border-top: 3px solid $teal;
    width: 18%;
    z-index: -1;
    opacity: 0.5;

    @include mq1171 {
        bottom: 500px;
        width: 40%;
    }

    @include mq804 {
        display: none;
    }
}

/* Footer */
.footer {
    display: flex;
    flex-direction: row;
    height: 338px;
    background-color: #4003CA;
    font-weight: 700;
    margin-top: 200px;

    @include mq1620 {
        margin-top: 100px;
    }

    @include mq804 {
        flex-direction: column;
        min-width: 329px;
        width: 100%;
        margin: 150px auto 0;
    }
}

.footer__left {
    background-color: #33FFD9;
    width: 45%;
    font-size: 16px;

    @include mq1171 {
        width: 50%;
    }

    @include mq804 {
        min-height: 306px;
        display: flex;
        justify-content: center;
        min-width: 329px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.footer__right {
    background-color: #4003CA;
    width: 55%;

    @include mq1171 {
        width: 50%;
    }

    @include mq804 {
        min-height: 306px;
        display: flex;
        justify-content: center;
        min-width: 329px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}


/* Footer TextLeft */
.footer__textLeft {
    margin: 65px 0 0 20%;
    width: 374px;

    @include mq1171 {
        margin-left: 5%;
    }
  
}

.footer__textLeft h6 {
    margin-bottom: 20px;
    color: #4003CA;
    font-weight: 700;
}

.footer__icons {
    display: flex;
    margin-bottom: 20px;
}

.footer__textLeft hgroup p {
    color: #4003CA;
}

.footer__textLeft hgroup p:first-child {
    font-weight: 700;
}

.footer__icons img {
    max-width: 30%;
}

.policy {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    min-width: 337px;

    @include mq804 {
        width: 90%;
    }
}

.policy a, .policy p {
    color: #2000B4;
    font-weight: 300;

    @include mq804 {
        font-size: 13px;
    }
}

/* Footer TextRight */
.footer__textRight {
    position: relative;
    margin: 65px 0 0 20%;
    width: 530px;
    height: 200px;

    @include mq1268 {
        width: 500px;
    }

    @include mq1171 {
        margin-left: 5%;
        width: 350px;
    }
}

.footer__textRight h6 {
    color: #33FFD9;
    width: 500px;
    font-weight: 900;

    @include mq1171 {
        width: 100%;
    }
}

.we-icon {
    position: absolute;
    right: 0;
    bottom: 0;
}