/* Global*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  letter-spacing: 1px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 64px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

h2 {
  font-size: 56px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

h4 {
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

h5 {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

h6 {
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

p {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

span {
  line-height: 1.2;
}

a {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  color: white;
}

/* Body */
body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  letter-spacing: 1px;
}

/* Navbar */
.overlay {
  display: none;
}

.header__inside {
  margin: 25px 16.20% 0 16.61%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1280px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-left: 50px;
  display: inline-block;
  padding-bottom: 5px;
  text-align: center;
}

.nav__item_1 {
  border-bottom: 4px solid #ff0076;
  width: 117px;
}

.nav__item_2 {
  border-bottom: 4px solid #ff9300;
  width: 123px;
}

.nav__item_3 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #4003ca), color-stop(50%, #33ffd9));
  background-image: linear-gradient(90deg, #4003ca 50%, #33ffd9 50%);
  background-size: 100% 4px;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 158px;
  padding-bottom: 9px;
}

/* Home */
.home {
  width: 1321px;
  margin: 48px 16.20% 0 15%;
  height: 437px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.home .linear-color {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(124deg, rgba(255, 132, 0, 0.8) 0, rgba(51, 255, 217, 0.4) 25%, rgba(51, 255, 217, 0.1) 50%, rgba(51, 255, 217, 0.7) 70%, white 160%);
  -webkit-filter: blur(8px);
          filter: blur(8px);
  z-index: -1;
}

.home__images, .home__words {
  width: 50%;
}

.home__words {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  /* Grid Purple */
  background-image: url("https://imgur.com/ziUQsUt.png"), -webkit-gradient(linear, left bottom, left top, color-stop(30%, rgba(0, 0, 0, 0)), color-stop(110%, #33FFD9));
  background-image: url("https://imgur.com/ziUQsUt.png"), linear-gradient(to top, rgba(0, 0, 0, 0) 30%, #33FFD9 110%);
  border-radius: 50px 0 0 50px;
}

.home__words > hgroup {
  margin-left: 70px;
  margin-right: 70px;
}

.home__words h3 {
  font-weight: 700;
}

/* Levels */
.levels {
  width: 1321px;
  margin: 65px 16.20% 0 15%;
}

.levels > h1 {
  font-size: 72px;
  font-weight: 900;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(51, 255, 217, 0.19)), to(#33ffd9));
  background: linear-gradient(to top, rgba(51, 255, 217, 0.19), #33ffd9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.levels .level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.levels .level .level_text {
  width: 492px;
}

.levels .level .level_text h1 {
  font-size: 72px;
  font-weight: 900;
}

.levels .level .level_text hgroup {
  margin-top: 34px;
}

.levels .level .level_text hgroup h3 {
  color: #F90173;
  font-weight: 500;
}

.levels .level .level_text hgroup p {
  font-weight: 400;
  font-size: 18px;
  margin-top: 12px;
}

.levels .level-1 {
  margin-top: 44px;
}

.levels .level-2 {
  margin-top: 53px;
}

.levels .level-3 {
  margin-top: 73px;
}

/* Benefits */
.benefits {
  width: 1321px;
  margin: 65px 16.20% 0 15%;
}

.benefits .benefits-background {
  min-height: 521px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, 0.4)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.4));
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.benefits .benefits-background hgroup {
  width: 996px;
  padding-top: 32px;
  padding-left: 68px;
}

.benefits .benefits-background hgroup h3 {
  color: #33FFD9;
  font-weight: 500;
}

.benefits .benefits-background hgroup p {
  font-weight: 400;
  margin-top: 12px;
}

.benefits .benefits-background hgroup h6 {
  font-weight: 500;
  margin-top: 24px;
}

.benefits .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  bottom: 140px;
}

.benefits .price_base {
  width: 581px;
  height: 521px;
  border-radius: 40px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(249, 1, 115, 0.8)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(249, 1, 115, 0.8));
}

.benefits .price_premium {
  width: 581px;
  height: 521px;
  border-radius: 40px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(rgba(51, 255, 218, 0.8)));
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(51, 255, 218, 0.8));
}

/* Footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 96px;
  height: 338px;
  background-color: #4003CA;
  font-weight: 700;
}

.footer__left {
  background-color: #33FFD9;
  width: 830px;
  font-size: 16px;
}

.footer__right {
  background-color: #4003CA;
  width: 1090px;
}

/* Footer TextLeft */
.footer__textLeft {
  margin: 65px 0 0 292px;
  width: 374px;
}

.footer__textLeft h6 {
  margin-bottom: 20px;
  color: #4003CA;
  font-weight: 700;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.footer__textLeft hgroup p {
  color: #4003CA;
}

.footer__textLeft hgroup p:first-child {
  font-weight: 700;
}

.footer__icons img {
  max-width: 30%;
}

.policy {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 337px;
}

.policy a, .policy p {
  color: #2000B4;
  font-weight: 300;
}

/* Footer TextRight */
.footer__textRight {
  position: relative;
  margin: 65px 0 0 288px;
  width: 530px;
  height: 200px;
}

.footer__textRight h6 {
  color: #33FFD9;
  width: 500px;
  font-weight: 900;
}

.we-icon {
  position: absolute;
  right: 0;
  bottom: 0;
}
/*# sourceMappingURL=style.css.map */